* {
    color: darkblue;
    font-family: 'UpheavalPro';
}

.keys-box {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 20%;
    animation: fadeOut 7s ease-out;
    opacity:0 ;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

