* {
    color: darkblue;
    font-family: 'UpheavalPro';
    /* background-color: darkblue; */
}


#game-container {
    /* width: 800px;   Fixed width */
    height: 700px;  /* Fixed height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it */
    background-color: #4d90ba; /* Optional: Set background */
}

.keys-box {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 20%;
    animation: fadeOut 7s ease-out;
    opacity:0 ;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

