
body {
  margin: 0;
  font-family: 'UpheavalPro', sans-serif;
}

@font-face {
  font-family: 'Origap';
  src: url('./assets/fonts/origap__.ttf');
}

@font-face {
  font-family: 'Minercraftory';
  src: url('./assets/fonts/Minercraftory.ttf');
}

@font-face {
  font-family: 'UpheavalPro';
  src: url('./assets/fonts/UpheavalPro.ttf');
}